doctype html
html
   head
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title Auth TETCO
      style.
        body { display: flex; flex-direction: column; justify-content: center; align-items: center; }

   body
      h2#auth Authenticated Page
      p#info This page has a HttpOnly cookie set, could you grab it?!
      h4#cookie #{cookie}
